<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="card">
        <div class="image-data">
            <div class="background-image">
            </div>
            <div class="publication-details">
                <a href="#" class="author">
                    <i class="fas fa-user"></i>
                    MokSh
                </a>
                <span class="date">
                    <i class="fas fa-calendar-alt"></i>
                    May 10, 2021
                </span>
            </div>
        </div>

        <div class="post-data">
            <h1 class="title"> Artificial Intelligence </h1>
            <h2 class="subtitle"> Above and beyond just computers </h2>
            <p class="description">
                Rem tellus commodo ex curae tenetur diam consequat tenetur ullam! Exercitation proident, aspernatur interdum exercitationem anim! Proident bibendum. Diamlorem phasellus eveniet, pede per at, ante, justo occaecat error
            </p>

            <div class="cta">
                <a href="#"> Read More &rarr;</a>
            </div>
        </div>
    </div>
</body>
</html>